In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_excel('data/income_data.xlsx')
symbol_dict_df = pd.read_excel('data/symbol_dictionary.xlsx')

In [5]:
data

,age: continuous.,class of worker: Not in universe,detailed industry recode: 0,detailed occupation recode: 0,education: Children,wage per hour: continuous.,enroll in edu inst last wk: Not in universe,marital stat: Never married,major industry code: Not in universe or children,major occupation code: Not in universe,...,country of birth father: Mexico,country of birth mother: India,country of birth self: United-States,citizenship: Native- Born in the United States,own business or self employed: 0,fill inc questionnaire for veteran's admin: Not in universe,veterans benefits: 0,weeks worked in year: continuous.,year: 94,income level
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,-50000
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199518,87,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Canada,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199519,65,Self-employed-incorporated,37,2,11th grade,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
199520,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Poland,Poland,Germany,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,-50000
199521,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199522,32,Private,42,30,High school graduate,0,Not in universe,Never married,Medical except hospital,Other service,...,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,-50000

In [9]:
data.nunique()

age: continuous.                                                                91
class of worker: Not in universe                                                 9
detailed industry recode: 0                                                     52
detailed occupation recode: 0                                                   47
education: Children                                                             17
wage per hour: continuous.                                                    1240
enroll in edu inst last wk: Not in universe                                      3
marital stat: Never married                                                      7
major industry code: Not in universe or children                                24
major occupation code: Not in universe                                          15
race: White                                                                      5
hispanic origin: Mexican (Mexicano)                                             10
sex: Female                                                                      2
member of a labor union: Not in universe                                         3
reason for unemployment: Not in universe                                         6
full or part time employment stat: Children or Armed Forces                      8
capital gains: continuous.                                                     132
capital losses: continuous.                                                    113
dividends from stocks: continuous.                                            1478
tax filer stat: Nonfiler                                                         6
region of previous residence: Not in universe                                    6
state of previous residence: Not in universe                                    51
detailed household and family stat: Child <18 never marr not in subfamily       38
detailed household summary in household: Child under 18 never married            8
instance weight: continuous.                                                 99800
migration code-change in msa: Not in universe                                   10
migration code-change in reg: Not in universe                                    9
migration code-move within reg: Not in universe                                 10
live in this house 1 year ago: Not in universe under 1 year old                  3
migration prev res in sunbelt: Not in universe                                   4
num persons worked for employer: continuous.                                     7
family members under 18: Both parents present                                    5
country of birth father: Mexico                                                 43
country of birth mother: India                                                  43
country of birth self: United-States                                            43
citizenship: Native- Born in the United States                                   5
own business or self employed: 0                                                 3
fill inc questionnaire for veteran's admin: Not in universe                      3
veterans benefits: 0                                                             3
weeks worked in year: continuous.                                               53
year: 94                                                                         2
income level                                                                     2
dtype: int64

By inspection, instance weight: continuous and level income are not in the data info.
The rest are matched.

In [11]:
symbol_dict = dict(zip(symbol_dict_df['name_display'], symbol_dict_df['name_abbreviation']))
symbol_dict

{'age: continuous.': 'AAGE',
 'class of worker: Not in universe': 'ACLSWKR',
 'detailed industry recode: 0': 'ADTIND',
 'detailed occupation recode: 0': 'ADTOCC',
 'education: Children': 'AHGA',
 'wage per hour: continuous.': 'AHRSPAY',
 'enroll in edu inst last wk: Not in universe': 'AHSCOL',
 'marital stat: Never married': 'AMARITL',
 'major industry code: Not in universe or children': 'AMJIND',
 'major occupation code: Not in universe': 'AMJOCC',
 'race: White': 'ARACE',
 'hispanic origin: Mexican (Mexicano)': 'AREORGN',
 'sex: Female': 'ASEX',
 'member of a labor union: Not in universe': 'AUNMEM',
 'reason for unemployment: Not in universe': 'AUNTYPE',
 'full or part time employment stat: Children or Armed Forces': 'AWKSTAT',
 'capital gains: continuous.': 'CAPGAIN',
 'capital losses: continuous.': 'CAPLOSS',
 'dividends from stocks: continuous.': 'DIVVAL',
 'tax filer stat: Nonfiler': 'FILESTAT',
 'region of previous residence: Not in universe': 'GRINREG',
 'state of previous residence: Not in universe': 'GRINST',
 'detailed household and family stat: Child <18 never marr not in subfamily': 'HHDFMX',
 'detailed household summary in household: Child under 18 never married': 'HHDREL',
 'instance weight: continuous.': 'MARSUPWT',
 'migration code-change in msa: Not in universe': 'MIGMTR1',
 'migration code-change in reg: Not in universe': 'MIGMTR3',
 'migration code-move within reg: Not in universe': 'MIGMTR4',
 'live in this house 1 year ago: Not in universe under 1 year old': 'MIGSAME',
 'migration prev res in sunbelt: Not in universe': 'MIGSUN',
 'num persons worked for employer: continuous.': 'NOEMP',
 'family members under 18: Both parents present': 'PARENT',
 'country of birth father: Mexico': 'PEFNTVTY',
 'country of birth mother: India': 'PEMNTVTY',
 'country of birth self: United-States': 'PENATVTY',
 'citizenship: Native- Born in the United States': 'PRCITSHP',
 'own business or self employed: 0': 'SEOTR',
 "fill inc questionnaire for veteran's admin: Not in universe": 'VETQVA',
 'veterans benefits: 0': 'VETYN',
 'weeks worked in year: continuous.': 'WKSWORK',
 'year: 94': 'PTOTVAL',
 'income level': 'TAXINC'}

In [12]:
data = data.rename(columns=symbol_dict)
data

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,PTOTVAL,TAXINC
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,-50000
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199518,87,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Canada,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199519,65,Self-employed-incorporated,37,2,11th grade,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
199520,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Poland,Poland,Germany,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,-50000
199521,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199522,32,Private,42,30,High school graduate,0,Not in universe,Never married,Medical except hospital,Other service,...,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,-50000

| The instance weight indicates the number of people in the population
| that each record represents due to stratified sampling.
| To do real analysis and derive conclusions, this field must be used.
| This attribute should *not* be used in the classifiers, so it is
| set to "ignore" in this file.

In [20]:
data = data.drop('MARSUPWT', axis=1)
data

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,PTOTVAL,TAXINC
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,-50000
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199518,87,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Canada,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199519,65,Self-employed-incorporated,37,2,11th grade,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
199520,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Poland,Poland,Germany,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,-50000
199521,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199522,32,Private,42,30,High school graduate,0,Not in universe,Never married,Medical except hospital,Other service,...,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,-50000

In [21]:
data = data.replace(' ?', np.NAN)
data

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,PTOTVAL,TAXINC
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,-50000
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199518,87,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Canada,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199519,65,Self-employed-incorporated,37,2,11th grade,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
199520,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Poland,Poland,Germany,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,-50000
199521,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
199522,32,Private,42,30,High school graduate,0,Not in universe,Never married,Medical except hospital,Other service,...,NaN,NaN,NaN,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,-50000

In [22]:
data.isna().sum()

AAGE            0
ACLSWKR         0
ADTIND          0
ADTOCC          0
AHGA            0
AHRSPAY         0
AHSCOL          0
AMARITL         0
AMJIND          0
AMJOCC          0
ARACE           0
AREORGN         0
ASEX            0
AUNMEM          0
AUNTYPE         0
AWKSTAT         0
CAPGAIN         0
CAPLOSS         0
DIVVAL          0
FILESTAT        0
GRINREG         0
GRINST        708
HHDFMX          0
HHDREL          0
MIGMTR1     99696
MIGMTR3     99696
MIGMTR4     99696
MIGSAME         0
MIGSUN      99696
NOEMP           0
PARENT          0
PEFNTVTY     6713
PEMNTVTY     6119
PENATVTY     3393
PRCITSHP        0
SEOTR           0
VETQVA          0
VETYN           0
WKSWORK         0
PTOTVAL         0
TAXINC          0
dtype: int64

In [29]:
NA_features = data.isna().sum()[data.isna().sum() != 0]

In [31]:
NA_features_list = NA_features.index.tolist()

['GRINST',
 'MIGMTR1',
 'MIGMTR3',
 'MIGMTR4',
 'MIGSUN',
 'PEFNTVTY',
 'PEMNTVTY',
 'PENATVTY']

In [33]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')